table, td, tbody, table caption {
    border-width: 1px;
    border-style: solid;
    border-collapse: collapse;
}

#stopmap {
    width: 250px;
    height: 250px;
}

.deptable, .linetable {
    min-width: 40%;
}

.messageblock {
    border: 2px solid green;
}

.errorblock {
    border: 2px solid red;
}